<div class="modal fade" id="modalVerProduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="titulo-modal">Informações sobre o produto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="conteudo">
                    <div style="border: 2px solid var(--cinza2); padding: 15px; border-radius: 10px;">
                        <img id="modalImage" class="imagem-card" alt="...">
                        <hr style="border: 1px solid var(--cinza2); opacity: 1;">
                        <h3 id="modalName"></h3>
                        <div style="background-color: var(--cinza3); padding: 20px 10px; border-radius: 10px;">
                            <div style="margin-bottom: 20px;">
                                    <i class="bi bi-journal-text"></i>
                                    <h5 class="titulo-conteudo-card" style="display: inline-block;">Descrição:</h5>
                                <p class="paragrafo-conteudo-card" id="modalDescription"></p>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <i class="bi bi-tags"></i>
                                <h5 class="titulo-conteudo-card" style="display: inline-block;">
                                    Categoria:</h5>
                                <p class="paragrafo-conteudo-card" id="modalCategory"></p>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <i class="bi bi-boxes"></i>
                                <h5 class="titulo-conteudo-card" style="display: inline-block;">
                                    Quantidade:</h5>
                                <p class="paragrafo-conteudo-card" id="modalQuantity"></p>
                            </div>
                            <div>
                                <i class="bi bi-currency-dollar"></i>
                                <h5 class="titulo-conteudo-card" style="display: inline-block;">Preço total:
                                </h5>
                                <p class="paragrafo-conteudo-card" id="modalPrice"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>